<h3><%="[ #{@page_user.name}さんの投稿一覧 ]"%></h3>
<% if @profile != nil %>
  <p>
  <strong>mypicture</strong>
  <%= image_tag(@profile.picture_url,:size => "200x150") if @profile.picture.present? %>
  </p>
<% end %>
<!--他人のpageのときfollowボタン-->
  <% if @page_user != current_user %>
    <% if current_user.follow?(@page_user) %>
      <%= form_with url: follow_path(@page_user.id), method: :delete do |form| %>
        <%= form.hidden_field :followed_user_id, value: @page_user.id %>
        <%= form.submit "フォローをやめる" %>
      <% end %>
    <% else %>
      <%= form_with url: follows_path do |form| %>
              <%= form.hidden_field :followed_user_id, value: @page_user.id %>
              <%= form.submit "フォローする" %>
      <% end %>
    <% end %>
  <% end %>



<%= javascript_include_tag 'post' %>
<br>
<form action="http://localhost:3000/api/posts" method="post">
  <p>投稿を入力してください<br>
    <textarea name= "body" id= "ajax_body"></textarea>
    <label for="post_public_degree">公開度</label>
    <select name="trans" id="ajax_trans">
      <option value="1">public</option>
      <option value="2">private</option>
      <option value="3">private</option>
    </select>
  </p>
  <button type="button" name="submit" onclick="ajax_post()" value="投稿">投稿する</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody id ='post'>
      <% if @posts!=nil  %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
          <td colspan="2"></td>
          <td><%= link_to 'Show', post %></td>
        </tr>
      <% end %>
      <% end %>
  </tbody>
</table>
<%= link_to('Mypage', user_path) %>
<%= link_to('Post一覧', posts_path) %>
<% if @page_user.id == @user.id %>
  <p class="text-right"><%= link_to 'New Post', new_post_path %></p>
  <%= link_to('Profile設定', new_users_profiles_path(@user.id)) %>
  <!%= link_to('設定', new_user_setting_path(@user.id)) %>
<% end %>

