<%= form_with url: user_profile_path(:profile) do |form| %>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>
  <div class="field">
    <%= form.hidden_field :user_id, value: @profile.user_id %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

