<p>
  <%= @commentuser.name %>さんの投稿<br>
  <%= link_to("#{@commentuser.name}さんのpage", 
  user_path(id: @commentuser.id)) %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @comment.body %>
</p>
<% if @user.id == @comment.user_id %>
  <%= link_to 'Edit', edit_post_comment_path(@post,@comment) %>
  <%= link_to('Delete', post_comments_path(id: @comment.id), method: :delete) %>
<% end %>
<p>
<%= link_to 'Back', post_comments_path %>
</p>
