<h1>Profile</h1>
<% if user_signed_in? %>
<%= link_to('Mypage', homes_mypage_path) %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
<%= link_to('Login', new_user_session_path)  %>  
<% end %>
<p>
  <strong><%= @profile.nickname %></strong>
</p>

<p>
  <strong>mypicture</strong>
  <%= image_tag(@profile.picture_url) if @profile.picture.present? %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user,@profile) %> |
