<h3><%="[ #{@page_user.name}さんの投稿一覧 ]"%></h3>
<% if @profile != nil %>
  <p>
  <strong>mypicture</strong>
  <%= image_tag(@profile.picture_url,:size => "200x150") if @profile.picture.present? %>
  </p>
<% end %>
<%= javascript_include_tag 'post' %>

<form action="http://localhost:3000/api/posts" method="post">
  <p>投稿を入力してください<br>
    <textarea name= "body" id= "ajax_body"></textarea>
  </p>
  <button type="button" name="submit" onclick="ajax_post()" value="投稿">投稿する</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="2"></th>
    </tr>
  </thead>


  <tbody id ='post'>
        <% @my_post.each do |my_post| %>
        <tr>
          <td><%= my_post.title %></td>
          <td><%= my_post.body %></td>
          <td colspan="2"></td>
          <td><%= link_to 'Show', my_post %></td>
          <% if @page_user.id == @user.id%>
            <td><%= link_to 'Edit', edit_post_path(my_post) %></td>
            <td><%= link_to 'Destroy', my_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
      <% @posts.exists? %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
          <td colspan="2"></td>
          <td><%= link_to 'Show', post %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<%= link_to('Mypage', homes_mypage_path) %>
<%= link_to('Post一覧', posts_path) %>
<% if @page_user.id == @user.id %>
  <p class="text-right"><%= link_to 'New Post', new_post_path %></p>
  <%= link_to('Profile設定', new_user_profile_path(@user.id)) %>
  <%= link_to('設定', new_user_setting_path(@user.id)) %>
<% end %>
<%= link_to('User一覧', users_path) %>

