<h1>Users一覧</h1>
<table class="table">
  <tbody>
    <!% @nonfollows.each do |n| %>

    <% @users.each do |user| %>
      <tr>
      <td><%= user.name %></td>
      <% if @followers!=nil && user!=@user%>
        <% @followers.each do |f|%>
            <% if f == user%>
              <td><%= link_to "詳細ページへ", follow_path(f.id) %>
              <%# <%= form_with(url: follow_path(f.id),method: :get) do |form| %>
              <%# <%= form.hidden_field :followed, value: user.id %> %>
              <%# <%= form.submit("詳細ページへ")%> %>
              <%# <% end %></td> %> %>
              <td><%= form_with(url: follow_path(f.id),method: :delete) do |form| %>
              <!%= form.hidden_field :follower, value: current_user.id %>
              <%= form.hidden_field :followed, value: user.id %>
              <%= form.submit("フォローをやめる")%>
              <% end %></td>
            <% end %>
        <% end %>
      <%else%>
          <td><%= form_with url: follows_path do |form| %>
          <%= form.hidden_field :followed, value: user.id %>
          <%= form.submit("フォローする")%>
          <% end %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to('MYpage', homes_mypage_path)%>  
