<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :public_degree %>
    <%= form.select :trans, [["public", 1], ["private", 2],["follower", 3]] %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, multiple: true %>
    <%= form.file_field :picture, multiple: true %>
    <%= form.file_field :picture, multiple: true %>
    <%= form.hidden_field :picture_cache %>
  </div>
  <%# previewかきたいならここ！ %>
  <%# https://rails-school.net/carrierwave-multiple-preview/ %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
