<p id="notice"><%= notice %></p>

<h1>comments</h1>
<% if user_signed_in? %>
<%= link_to('Mypage', home_mypage_path) %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
<%= link_to('Login', new_user_session_path)  %>  
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.body %></td>
        <td><!%= @writer.name %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New comment', new_comment_path %>
