<% if user_signed_in? %>
<%= link_to('Mypage', homes_mypage_path) %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
<%= link_to('Login', new_user_session_path)  %>  
<% end %>

<p>
  <strong>User:</strong>
  <%= @postuser.name %>さんの投稿
  <%= link_to("#{@postuser.name}さんのpage", homes_mypage_path(id: @postuser.id)) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Image</strong>
  <%if @images.any?%>
    <p>
      <% @images.each do |image| %>
        <%= image_tag(image.image_url,:size => "200x150") if image.image.present? %>
      <% end %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= link_to 'Show_comments', post_comments_path(@post) %>